*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: 1s ease;
}

body{
    margin: 5px 25px;
    background-color: rgb(237, 241, 245); 
}

.header{
    color: black;
    background-color: white;
    border: 0.5px solid rgb(243, 244, 246);
    border-radius: 13px;
    padding: 9px 30px 8px 15px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.header-1 img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.header-2{
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
}